<component name="ArtifactManager">
  <artifact type="war" name="springmvc_006_ssm:war">
    <output-path>$PROJECT_DIR$/springmvc_006_ssm/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_006_ssm</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_006_ssm-1.0.war">
      <element id="artifact" artifact-name="springmvc_006_ssm:war exploded" />
    </root>
  </artifact>
</component>